:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.side {
    background-image: url('brecht-corbeel-qtx68-0Qlbs-unsplash-small.jpg');
    height: 700px;
    width: 400px;
}

footer {
    height: 10px;
}