:root {
    font-size: 62.5%;
    --bg-color: black;
    --bdr: 1px solid aquamarine;
    /* background-color: ; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main {
    height: 95%;
    width: 100%;
    display: flex;
    background-color: var(--bg-color);
}

footer {
    height: 5%;
    width: 100%;
    background-color: var(--bg-color);
}

.side {
    background: url(marco-damm-p_6fyRDRYWI-unsplash-small.jpg) no-repeat center;
    background-size: min(20vh, auto) auto;
    /* width: clamp(30vh, 40%, 50vw); */
    width: max(40%, 40vh);
}

.registration {
    width: 60%;
}