:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main {
    height: 95%;
    width: 100%;
    display: flex;
}

footer {
    height: 5%;
    width: 100%;
}

.side {
    background: url(marco-damm-p_6fyRDRYWI-unsplash-small.jpg) no-repeat 50% 100%;
    background-size: min(400px, auto);
    width: min(30%, 300px);
}

.registration {
    width: 70%;
}